@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: whitesmoke;
	font-weight: 400;
	color: #444;

	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	height: 100%;
}
